<style>
    .footer{
        position: relative;
        bottom: 0;
        width: 100%;
        height: 60px; 
        line-height: 60px; 
        background-color: black;
        color: rgb(255, 255, 255);
    }  
</style>

<center>
    <footer class="footer bg-black">
        <div class="container">
            <span >Colegio Patria | Todos los derechos reservados @David Mejía Vázquez</span>
        </div>
    </footer>
</center>
</body>
</html>