<%-include('partials/header.ejs')%>
<%-include('partials/nav.ejs')%>

<!DOCTYPE html>
<html lang="en">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
        }

        main {
            max-width: 600px;
            margin: 20px auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        form {
            text-align: center;
        }

        form div {
            margin-bottom: 15px;
        }

        label {
            display: block;
            font-weight: bold;
            margin-bottom: 5px;
        }

        input[type="number"],
        input[type="text"],
        select {
            width: calc(100% - 10px);
            padding: 8px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 3px;
            box-sizing: border-box;
        }

        button.limpiar {
            background-color: #4CAF50;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 3px;
            cursor: pointer;
            margin-right: 10px;
            text-decoration: none;
            display: inline-block;
        }

        button.limpiar:hover {
            background-color: #45a049;
        }

        .buttons-container {
            text-align: center;
        }
    </style>
  <body>
    <main>
        <% if(!isPost){ %>
            <form action="/" method="post">
                <center>
                <div>
                    <label for="numDocente">Num.Docente</label>
                    <input id="numDocente" type="number" name="numDocente" required=""/>
                </div>
                <div>
                    <label for="nombre">Nombre</label>
                    <input id="nombre" type="text" name="nombre" required=""/>
                </div>
                <div>
                    <label for="domicilio">Domicilio</label>
                    <input id="domicilio" type="text" name="domicilio" required=""/>
                </div>
                <div>
                    <label for="nivel">Nivel</label>
                    <select id="nivel" type="text" name="nivel" required="">
                        <option value="">Seleccionar nivel</option>
                        <option value="1">1. Licenciatura o Ingenieria</option>
                        <option value="2">2. Maestro en Ciencias</option>
                        <option value="3">3. Doctor</option>
                    </select>
                </div>
                <div>
                    <label for="pagoPorHoraBase">Pago Hora Base</label>
                    <input id="pagoPorHoraBase" type="number" name="pagoPorHoraBase" required=""/>
                </div>
                <div>
                    <label for="horasImpartidas">Horas Impartidas</label>
                    <input id="horasImpartidas" type="number" name="horasImpartidas" required=""/>
                </div>
                <div>
                    <label for="numHijos">Numero de hijos</label>
                    <select id="numHijos" type="text" name="numHijos" required="">
                        <option value="">Seleccione el numero de hijos</option>
                        <option value="3">No tiene</option>
                        <option value="0">1 o 2 hijos</option>
                        <option value="1">3 a 5 hijos</option>
                        <option value="2">5 o mas hijos</option>
                    </select>
                </div>
                <div class="buttons-container">
                    <button class="limpiar" type="submit">Calcular</button><br><br>
                    <button class="limpiar"><a href="/" style="text-decoration: none; color: white;">Limpiar</a></button>
                  </div>
                </center>
            </form>
        <%} else{ %>
            <div>
                <center>
                <h2>Detalles del Pago</h2><hr>
                <p>
                    Pago horas impartidas: $<%=pagoPorHorasImpartidas%>
                </p>
                <p>
                    Pago por bono: $<%=bono%>
                </p>
                <p>
                    Impuestos: $<%=impuesto%>
                </p>
                <p>
                    Total a pagar: $<%=totalAPagar%>
                </p>
            </center>
            </div>
        <% } %>
    </main>
    
  </body>
</html>
<%-include('partials/footer.ejs')%>